# Test result.
## Time: 0,005

OK (1 test)
